<table border="3">
    <tr>
        <td>ID of Author</td>
        <td>title</td>
        <td>publication date</td>

    </tr>
    {% for a in booktitle %}
        <tr>
            <td>{{a.ref}}</td>
            <td>{{a.title}}</td>
            <td>{{a.publicationDate|date}}</td>


        </tr>
    {% endfor %}

</table>